body{
    overflow-y: hidden;
}
 .sky{
    width: 100%;
    height: 500px;
    background-color: skyblue;
    position: relative;
}
.grass{
    width: 100%;
    height: 150px;
    background-color: green; 
}
.bird{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: yellow;
    position: absolute;
    bottom: 13px;
    left: 80px;
}
.pillar{
    position: absolute;
    bottom: 0;
    left: 60%;
    height: 200px;
    width: 80px;
    background-color: brown;
}
